

body {
  font-family: 'Roboto';
  margin-top: 40px;
  font-size: 16px;
  line-height: 22px;
}

.page-header { letter-spacing: 2px; }

p { color: #5A5A5A;}

.margin-top { margin-top: 50px; }
.small-margin-top { margin-top: 20px; }

.bg-div { background-color: #5e497e; }

.masthead {
  padding: 70px 0 0 0;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
}
.masthead h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  text-shadow: 1px 1px 3px #000;
  font-weight: 500;
}
.masthead p {
  font-size: 2rem;
  text-shadow: 1px 1px 1px #000;
  font-weight: 400;
  line-height: 2.5rem;
  color: #fff;
}

.index .btn-primary {
  margin: 10px 0;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25), 1px 1px 5px rgba(0,0,0,0.5);
  background-color: #1d6ac8;
  background-image: -webkit-linear-gradient(#45b3f3, #1d6ac8);
  border-color: #1d6ac8 #1d6ac8 #1a5eb2;
  box-shadow: 1px 1px 5px 2px hsla(0,0%,0%,.25);
  font-size: 20px;
  font-weight: 300;
}

h3 .btn-primary { margin-left: 10px; }

.hr {
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  margin-top: 40px;
  padding: 20px 0;
}

.features p.muted { font-size: 20px; }
.features h3 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 24px;
}

.used-by img { margin-right: 20px; padding: 15px 0; }
.used-by img:last-child { margin-right: 0; }
.used-by p { letter-spacing: 5px; font-size: 12px; line-height: 12px;}

.pricing form { margin-bottom: 30px; }
.pricing h4 { margin-top: 30px; }

.faq .span8 h3,
.support .span8 h3,
.pricing .span8 h3 { margin-top: 20px; margin-bottom: 0; }

.faq h3:first-child,
.support h3:first-child,
.pricing h3:first-child { margin-top: 0; }

.pricing .span4,
.faq .span4 { margin-top: 10px; }

.pricing form,
.faq .span4 ul {
  background-color: #dedede;
  padding: 20px;
  border-radius: 5px;
}
.faq .span4 ul {
  list-style-type: none;
  margin-left: 0;
}
.faq .span4 li {
  margin-bottom: 15px;
}
.pricing form h3 {
  font-weight: 500;
  margin-top: 0;
}
.pricing input { margin-bottom: 7px; }

.contact input, .contact textarea { width: 100%; }

.signin input { width: 90%; }

.form-signin-github { margin-top: 50px; }

.footer a { color: #9A9A9A; }
.footer { margin: 100px 0 50px 0; }






